<header>
  <div class="header-govco">
    <div class="container">
      <a href="https://www.gov.co" target="_blank"><img alt="Imagen logo GovCo" src="/{{ theme_path }}/assets/images/logo-govco.png"></a>
    </div>
  </div>
  <div class="header-body">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-3">
          <a href="{{ front_page }}" title="{{ site_name  }}"><img class="img-fluid logo" src="{{ logo }}" alt="Logo Comisión de Regulación de Comunicaciones - CRC, República de Colombia" /></a>
        </div>
        <div class="col-12 col-md-6">
          <div class="site-title">
            <h1><span class="fg-blue">Portal de</span> {{ site_name }}</h1>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="social-icons">
            <ul>
              <li><div class="icon-circle bg-blue"><a href="#" class="fab fa-twitter fg-white"><span class="fa-text">Twitter</span></a></li>
              <li><div class="icon-circle bg-blue"><a href="#" class="fab fa-facebook-f fg-white"><span class="fa-text">Facebook</span></a></li>
              <li><div class="icon-circle bg-blue"><a href="#" class="fab fa-instagram fg-white"><span class="fa-text">Instagram</span></a></li>
              <li><div class="icon-circle bg-blue"><a href="#" class="fab fa-youtube fg-white"><span class="fa-text">Youtube</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-nav bg-blue">
    <div class="container">
      <div class="row">
        <div class="col">
          <div id="menu-main">
            {{ page.navigation }}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
