<header>
  <div class="header-govco">
    <div class="container">
      <a href="https://www.gov.co" target="_blank"><img alt="Imagen logo GovCo" src="{{ theme_path }}/assets/images/logo-govco.png"></a>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <a href="{{ front_page }}" alt="Logo Comisión de Regulación de Comunicaciones - CRC, República de Colombia" title="{{ site_name  }}"><img class="img-fluid logo" src="{{ logo }}"/>Comision de Regulación de Comunicaciones - CRC, República de Colombia</a>
      </div>
      <div class="col-12 col-md-6">
        {{ site_name }}
      </div>
      <div class="col-12 col-md-3">
        <div class="social-icons">
          <ul>
            <li><div class="fa fa-twitter"><a href="#"><span class="fa-text">Twitter</span></a></li>
            <li><div class="fa fa-facebook"><a href="#"><span class="fa-text">Facebook</span></a></li>
            <li><div class="fa fa-instagram"><a href="#"><span class="fa-text">Instagram</span></a></li>
            <li><div class="fa fa-youtube"><a href="#"><span class="fa-text">Youtube</span></a></li>
        </div>
      </div>
    </div>
  </div>
</header>
